{% from "parts/object_items.jinja" import page_item %}
{% from "parts/create_forms.jinja" import book_form %}
<div class="here-page">
    {{ page_item(s5) }}
    {{ book_form("book_to_tile") }}
</div>
