{% set target = datas.target %}
{% set count = datas.count %}
<div class="contact-root">
    <div class="contact-head">
        <span class="user">{{ target.username if target else "■■■" }}</span><span class="user-info">（{{ target.survive_days if target else "■■■" }}日目）</span>
    </div>
    <div class="contact-grid user-info">
        <dl>
            <dt>walk</dt>
            <dd>
                : {{ count.walk if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>turn</dt>
            <dd>
                : {{ count.turn if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>rocket</dt>
            <dd>
                : {{ count.rocket if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>kill</dt>
            <dd>
                : {{ count.kill if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>post</dt>
            <dd>
                : {{ count.post if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>page</dt>
            <dd>
                : {{ count.page if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>book</dt>
            <dd>
                : {{ count.book if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>shelf</dt>
            <dd>
                : {{ count.shelf if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>planet</dt>
            <dd>
                : {{ count.planet if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>special</dt>
            <dd>
                : {{ count.special if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>p.draw</dt>
            <dd>
                : {{ count.planet_draw if count else "■■■" }}
            </dd>
        </dl>
        <dl>
            <dt>u.draw</dt>
            <dd>
                : {{ count.user_draw if count else "■■■" }}
            </dd>
        </dl>
    </div>
    {% if target %}
        <form class="contact-form" method="post" action="/">
            <button type="submit" name="action" value="enter_planet">見逃す</button>
            <button type="submit" name="action" value="kill">殺す</button>
        </form>
    {% elif pops.get_stardust_by_kill %}
        <form class="contact-form" method="post" action="/">
            星屑を{{ pops.get_stardust_by_kill }}獲得した！
            <br>
            <button type="submit" name="action" value="enter_planet">じゃあな！</button>
        </form>
    {% else %}
        <form class="contact-form" method="post" action="/">
            <button type="submit" name="action" value="enter_planet">？？？</button>
        </form>
    {% endif %}
</div>
