<div class="landing-root">
  <img class="landing-image"
       src="{{ url_for('static', filename='img/landing.png') }}"
       width="200"
       height="200"
       alt="landing" />
  <div>{{ planet_data.name }}へようこそ！</div>
  <form class="landing-box" method="post" action="/">
    <button type="submit" name="action" value="enter_planet">着陸する</button>
  </form>
</div>
