<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Planetter3</title>
    <meta name="description" content="Planetter3">
    <meta name="keywords" content="planet, sns">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
