ばぐりました。
原因は開発者に送信済みです。
修正をお待ちください。
<div class="red-text">{{ error_code }}</div>
<form method="post" action="/">
    <button type="submit" name="action" value="logout" class="logout">ログアウト</button>
</form>
