<form id="aside-bar" class="aside-bar" method="post" action="/">
  <button type="submit" name="action" value="manual">説明書</button>
  <button type="submit" name="action" value="rocket_small">小型ロケット</button>
  <button type="submit" name="action" value="planet_upgrade">惑星UG</button>
  <button type="submit" name="action" value="account_upgrade">アカウントUG</button>
  <button type="submit" name="action" value="destroy">分解</button>
  <button class="aside-opener" type="submit" name="action" value="aside_toggle">open</button>
</form>
