<div class="flex-row head-bar">
  <div class="flex-row">
    <div>{{ planet_data.name }}</div>
    <div>（{{ planet_data.survive_days }}日目）</div>
  </div>
  <div class="flex-row">
    {{ planet_data.created_name }}
  </div>
</div>
